<%= provide(:title, '登录') %>
<div class="reg_box">
	<div class="span6">
		<h3>登录爱秀网</h3>
		<%= form_for @user, :url=>{:action=>"create"} do |f| %>
			<% if flash[:notice] %>
				<div class="alert alert-error">
					<a class="close" data-dismiss="alert">×</a>
					<%= flash[:notice] %>
				</div>
			<% end %>
			<div class="clearfix">
				<%= f.label :email, "邮箱" %>
				<%= f.text_field :email %>
			</div>
			<div class="clearfix">
				<%= f.label :passowrd, "密码" %>
				<%= f.password_field :password %>
			</div>
			<div class="clearfix">
				<label></label>
				<%= f.submit "登录", :class=>"btn btn-large btn-danger"%>
			</div>
		<% end %>
	</div>
	<div class="span2">
		<%= render "shared/bind_login" %>
	</div>
	<div style="clear:both"></div>
</div>