<%= provide(:title, '注册') %>
<div class="reg_box">
	<div class="span6">
		<h3>注册新账号</h3>
		<%= form_for @user, :url=>{:action=>"create"} do |f| %>
			<%= render "shared/error_messages", :object=>f.object %>
			<div class="clearfix">
				<%= f.label :email, "邮箱" %>
				<%= f.text_field :email %>
			</div>
			<div class="clearfix">
				<%= f.label :passowrd, "密码" %>
				<%= f.password_field :password %>
			</div>
			<div class="clearfix">
				<%= f.label :name, "用户名" %>
				<%= f.text_field :name %>
			</div>
			<div class="clearfix">
				<label></label>
				<%= f.submit "立即注册", :class=>"btn btn-large btn-danger"%>
			</div>
		<% end %>
	</div>
	<div class="span2">
		<%= render "shared/bind_login" %>
	</div>
	<div style="clear:both"></div>	
</div>