<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title))%></title>
    <%= stylesheet_link_tag    "main" %>
    <%= javascript_include_tag "jquery1.7.2" %>
    <%= javascript_include_tag "ui" %>
    <%= javascript_include_tag :main %>
    <%= csrf_meta_tags %>
</head>
<body>
    <%= render "shared/header" %>
    <div class="container container_top_dis">
        <%= yield %>
    </div>
    <%= render "shared/footer" %>
</body>
</html>
